.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1{
    font-size: 2.5em;
    margin-bottom: .5em;
}

.home_container p {
    margin-bottom: 1.5em;
    color: #7b7b7b;
}

.home_container img {
    width: 350px;
    margin: 2em 0;
}

.home_container span {
  background: linear-gradient(135deg, #ffbb11 0%, #ff8800 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  padding: 0 4px;
}